/* BODY & BASE */
margin-right: 20px;
text-decoration: none;
color: #000;
}


.nav a:hover { color: #2DA9E9; }


/* OVERVIEW HERO */
.overview-hero {
min-height: 520px;
display: flex;
align-items: center;
justify-content: center;
background:
linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.92)),
url("images/overview-bg.svg");
background-size: cover;
background-position: center;
}


.overview-content {
max-width: 800px;
text-align: center;
}


/* LECTURERS */
.lecturers-banner {
background: #000;
color: #fff;
padding: 70px 0;
}


/* ORGANIZATION */
.organization-banner {
background: #000;
color: #fff;
padding: 70px 0;
}


.organization-logos img {
height: 50px;
opacity: 0.95;
}


.organization-logos img.invert {
filter: brightness(0) invert(1);
}


/* FOOTER */
.footer {
border-top: 1px solid #2DA9E9;
text-align: center;
padding: 20px 0;
}
